.commodity-section {
    padding-top: 3%;
    &__header {
        margin-bottom: 20px;
    }
}

.commodity-section-table {
    width: 100%;
    border-collapse: collapse;
    &__heading {
        text-align: center;
        td {
            padding: 0.1% 0.1%;
            border: 1px solid;
        }
    }
    &__number {
        height: 3%;
        text-align: center;
        td {
            border: 1px solid;
            padding: 0.2% 0;
        }
    }
    &__generated-data {
        height: 3%;
        text-align: center;
        td {
            padding: 0.2% 0;
            border: 1px solid;
        }
    }
    &__after-one {
        height: 10px;
        width: 100%;
        text-align: center;
    }
}