.commodity-section {
    padding-top: 60px;
    &__header {
        margin-bottom: 20px;
    }
}

.commodity-section-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    &__heading {
        height: 100px;
        text-align: center;
        td {
            padding: 0 7px;
            border: 1px solid;
        }
    }
    &__number {
        height: 20px;
        text-align: center;
        td {
            padding: 0 15px;
            border: 1px solid;
        }
    }
    &__generated-data {
        height: 20px;
        text-align: center;
        td {
            padding: 0 15px;
            border: 1px solid;
        }
    }
    &__after-one {
        height: 20px;
        width: 100%;
        text-align: center;
    }
    &__after-two {
        height: 20px;
        text-align: center;
        td:nth-child(-n+3) {
            padding: 10px 15px 0 15px;
            line-height: 10px;
        }
        .table-td {
            padding: 8px 4px;
            border: 1px solid;
        }
    }
}