header {
    margin-top: 10px;
}

.form-description {
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.participants-data {
    width: 100%;
    border-collapse: collapse;
}

.heading {
    font-size: 22px;
    font-weight: bold;
}