.signatures {
    width: 100%;
    display: flex;
    &__left-part {
        width: 59.8%;
        .left-table-one {
            width: 100%;
            padding: 0 3% 0.5% 0.7%;
        }
        .left-table-two {
            width: 100%;
            padding: 0 3% 0.5% 0.7%;
        }
        .left-table-three {
            width: 100%;
            padding-right: 60px;
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
        .left-table-four {
            width: 100%;
            padding: 0 3% 0.5% 0.7%;
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
        .left-table-five {
            width: 100%;
            padding: 0 12% 0 45%;
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
    }
    &__right-part {
        width: 43.5%;
        border-left: 1px solid black;
        padding: 1.5% 0;
        p {
            margin-left: 10px;
            margin-bottom: 2%;
        }
        .right-table-one {
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
        .right-table-two {
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
        .right-table-three {
            border-collapse: separate;
            border-spacing: $border-spacing;
            padding-bottom: 4%;
        }
        .right-table-four {
            width: 100%;
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
        .right-table-five {
            border-collapse: separate;
            border-spacing: $border-spacing;
        }
    }
}